<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="user$ | async">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Claim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Creating and joining games live in the menu, so there is nothing to repeat here. -->
  <div *ngIf="(user$ | async) as user; else loggedOut" class="centered">
    <h1>Hello, {{ user.name }}</h1>
    <p class="hint">Open the menu to create or join a game.</p>
  </div>

  <ng-template #loggedOut>
    <div class="centered">
      <h1>Claim</h1>
      <ion-button (click)="login()">Login / Sign Up</ion-button>
    </div>
  </ng-template>
</ion-content>
